.btn {
  display: block;
  width: 100%;
  padding: 15px 48px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  text-align: center;
  color: $color-black;
  background-color: $color-mint;
  border: none;
  border-radius: 5px;

  &:hover,
  &:focus {
    color: rgba($color-black, 0.6);
  }

  &:active {
    color: $color-white;
    background-color: $color-mint-dark;
  }
}
