.btn {
  display: block;
  width: 100%;
  padding: 15px 48px;
  font-size: 15px;
  line-height: 21px;
  font-weight: 600;
  text-align: center;
  color: #000000;
  background-color: $color-mint;
  border: none;
  border-radius: 5px;
}
