.container {
  margin: 0 auto;
  padding: 0 137px;
  max-width: $desktop-max-width;
  width: 100%;

  @media (width: $tablet-max-width) {
    padding: 0 89px;
  }

  @media (width: $mobile-max-width) {
    padding: 0 16px;
  }
}
