.form {
  max-width: 327px;
  padding-top: 5px;

  @media (max-width: $tablet-max-width) {
    padding-top: 71px;
    margin: 0 auto;
  }

  @media (max-width: $mobile-max-width) {
    padding-right: 16px;
    padding-left: 16px;
  }
}

.form p {
  @include reset-indent;
  padding-bottom: 19px;
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  color: $color-white;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 29px;
    font-size: 18px;
    color: $color-black;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 19px;
  }
}

.form div:not(:last-child) {
  padding-bottom: 20px;
}

.form input {
  width: 100%;
  padding: 14px 20px 10px 30px;
  border: 0;
  border-radius: 5px;
  height: 48px;

  &::placeholder {
    font-size: 15px;
    line-height: 24px;
    color: rgba($color-grey, 0.5);
  }

  @media (max-width: $tablet-max-width) {
    border: 1px solid $color-grey-light-2;
  }

  @media (max-width: $mobile-max-width) {
    padding-left: 26px;
  }
}

.form button {
  display: block;

  @media (max-width: $mobile-max-width) {
    padding-right: 28px;
    padding-left: 28px;
  }
}
