.promo {
  display: flex;
  justify-content: space-between;
  padding-bottom: 239px;
}

.promo__wrapper {
  max-width: 400px;
  // margin-right: 153px;
}

.promo__wrapper-logo {
  padding-bottom: 22px;
}

.promo__btn-menu {
  display: none;
}

.promo__header {
  @include reset-indent;
  padding-bottom: 25px;
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  color: $color-white;
}

.promo__text {
  @include reset-indent;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: rgba($color-white, 0.8);
}
