.promo {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0 280px;
  padding-top: 255px;
  padding-bottom: 240px;

  @media (max-width: $desktop-max-width-2) {
    padding-left: 121px;
    padding-right: 121px;
  }

  @media (max-width: $tablet-max-width) {
    display: block;
    padding: 0;
  }
}

.promo__wrapper {
  max-width: 400px;

  @media (max-width: $tablet-max-width) {
    max-width: 100%;
    padding-top: 84px;
    padding-right: 121px;
    padding-bottom: 80px;
    padding-left: 121px;
    background: url("../../img/background-bike-tablet.png") no-repeat $color-black 50% 50%;
    background-size: cover;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 72px;
    padding-right: 16px;
    padding-bottom: 69px;
    padding-left: 16px;
    background: url("../../img/background-bike-mobile.png") no-repeat $color-black 50% 50%;
    background-size: cover;
  }

  &--indents {
    @media (max-width: $tablet-max-width) {
      margin-top: -100px;
      padding-top: 121px;
    }

    @media (min-width: $tablet-width) and (max-width: $tablet-max-width) {
      padding-top: 147px;
    }
  }
}

.promo__wrapper-logo {
  padding-bottom: 29px;

  @media (max-width: $tablet-max-width) {
    display: none;
  }
}

.promo__wrapper h1 {
  @include reset-indent;
  padding-bottom: 25px;
  font-size: 46px;
  line-height: 64px;
  font-weight: 700;
  color: $color-white;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 20px;
    font-size: 30px;
    line-height: 42px;
    text-align: center;
  }
}

.promo__wrapper p {
  @include reset-indent;
  font-size: 20px;
  line-height: 32px;
  font-weight: 300;
  color: rgba($color-white, 0.8);

  @media (max-width: $tablet-max-width) {
    max-width: 450px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 32px;
    text-align: center;
  }
}
