.site-header {
  background: url("../../img/background-bike-desktop.png") no-repeat $color-black 50% 50%;
  background-size: cover;

  @media (max-width: $tablet-max-width) {
    background: none;
  }
}

.site-header__wrapper {
  max-width: $desktop-max-width;
  margin: 0 auto;
}

.site-header__logo-wrapper {
  display: none;

  @media (max-width: $tablet-max-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 82px;
    padding-left: 22px;
  }

  @media (max-width: $mobile-max-width) {
    padding-bottom: 50px;
    padding-left: 14px;
  }

  &--indent {
    @media (min-width: $tablet-width) {
      padding-bottom: 37px;
    }
  }
}

.site-header__logo-wrapper a {
  padding-top: 20px;
}

.site-header__logo-wrapper button {
  display: none;
  width: 50px;
  height: 50px;
  background-color: transparent;
  border: none;

  &--open {
    display: block;
    background: url("../../img/icon-menu-open.svg") no-repeat $color-mint 50% 50%;
  }

  &--close {
    background: url("../../img/icon-menu-close.svg") no-repeat transparent 50% 50%;
  }
}
