.site-header {
  background: url("../../img/background-bike-desktop.png") no-repeat $color-black;
}

.site-header__menu {
  padding-top: 21px;
  padding-right: 283px;
  padding-left: 283px;
}

.site-header__promo {
  padding: 0 280px;
  padding-top: 255px;
}
