.video {
  padding-bottom: 80px;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 40px;
  }
}

.video__description-wrapper {
  padding-top: 121px;
  padding-bottom: 480px;
  background-color: $color-black-2;

  @media (max-width: $tablet-max-width) {
    padding-top: 64px;
    padding-bottom: 237px;
  }

  @media (max-width: $mobile-max-width) {
    padding-top: 77px;
    padding-bottom: 167px;
  }
}

.video__title {
  padding-bottom: 19px;
  color: $color-white;

  @media (max-width: $tablet-max-width) {
    padding-bottom: 15px;
  }
}

.video__text {
  @include reset-indent;
  max-width: 340px;
  margin: 0 auto;
  font-weight: 300;
  text-align: center;
  color: rgba($color-white, 0.7);

  @media (max-width: $tablet-max-width) {
    max-width: 430px;
  }
}

.video__photo-wrapper {
  position: relative;
  margin-top: -424px;

  &::before {
    content: "";
    position: absolute;
    width: 65px;
    height: 65px;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    background: url("../../img/icon-play.svg") no-repeat;
    background-size: cover;

    @media (min-width: $tablet-width) and (max-width: $desktop-max-width-2) {
      width: 91px;
      height: 91px;
    }
  }

  @media (max-width: $tablet-max-width) {
    margin-top: -197px;
  }

  @media (max-width: $mobile-max-width) {
    margin-top: -113px;
  }
}

.video__photo {
  margin: 0 auto;
}
