// ----INDEX-----------------------------------

body {
  @media (max-width: 321px) {
    background: url("../img/mobile-with-menu.jpg") no-repeat;
    min-height: 4472px;
    opacity: 0.2;
  }
}

@media (min-width: $tablet-width) and (max-width: 768px) {
  body {
    background: url("../img/tablet-with-menu.jpg") no-repeat;
    // background: url("../img/pixel-perfect-tablet-yellow.jpg") no-repeat;
    min-height: 3957px;
    opacity: 0.2;
  }
}

// @media (min-width: $desktop-width) {
//   body {
//     background: url("../img/desktop.jpg") no-repeat;
//     min-height: 4172px;
//     opacity: 0.2;
//   }
// }
