$mobile-width: 320px;
$mobile-max-width: 767px;
$tablet-width: 768px;
$tablet-max-width: 1023px;
$desktop-width: 1024px;
$desktop-max-width: 1440px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$color-white: #ffffff;
$color-black: #000000;
$color-grey: #1c1c1c;
$color-mint: #0ad9c6;
